<nav class="navbar top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Scambo
            </a>
        </div>
        <div class="nav navbar-nav">
            <p class="navitem"><a href="/">Home</a></p>
            <p class="navitem"><a href="/about">Sobre</a></p>
            <p class="navitem"><a href="/chat">Chat</a></p>
            <p class="navitem"><a href="/contact">Contato</a></p>
            <p class="navitem"><a href="/login">Login</a></p>
        </div>
    </div>
</nav>