<!DOCTYPE html>
<html>
  <head>
      <% include ./partials/head %>
  </head>
  <body>
    <header class="header">
        <% include ./partials/header %>
    </header>

    <main class="bodyContent">
      <p>Perfil</p>
    </main>
    
    <footer class="foot">
        <% include ./partials/footer %>
    </footer>

    <% include ./partials/scripts %>
  </body>
</html>
